@model WebApplication1.Models.ycheckSchedule

@{
    ViewBag.Title = "Cargobooking";
    Layout = "~/Views/Home/_Homelayout.cshtml";
}




<style>
    table{
        color:black;
    }
</style>




<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url('../../assets2/images/bgc.jpg'); overflow: auto; height: 900px;">
        <div class="desc">
            <div class="container">
                <div class="row" style="margin-bottom: 100px;">
                    <div class="col-sm-7 col-md-7">
                        <div class="tabulation animate-box">


                            <div class="tab-title" style="margin-bottom: 50px;">
                                <h4>Cargo Booking</h4>

                            </div>

                            <!-- Nav tabs -->
                            <!-- Tab panes -->

                            <div class="content col-lg-10" style="margin-left:auto; margin-right: auto;">

                                @using (Html.BeginForm("Cargobooking", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="col-xxs-6 col-xs-6  mt">
                                        <div class="input-field">
                                            <label>Cargo weight:</label>
                                            @Html.EditorFor(model => model.kilo, new { htmlAttributes = new { @class = "form-control", @style = "color:black; max-width:100px;" } })
                                            @Html.ValidationMessageFor(model => model.kilo, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-xs-12" style="margin-bottom: 80px;">
                                            <input type="submit" class="btn btn-primary btn-block" value="change" style="height:30px;margin-left :-12px;padding:0px">
                                        </div>
                                    </div>

                                }


                                <table>
                                    <tr>
                                        <th>rate per kilo</th>
                                        <td>P @ViewBag.pricecargo</td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Gross total
                                        </th>
                                        <td>
                                            P @ViewBag.net1
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>
                                            Tax(12%)
                                        </th>
                                        <td>
                                            P @ViewBag.tax1
                                        </td>

                                    </tr>

                                    <tr>
                                        <th>_________</th>
                                        <td> </td>
                                    </tr>

                                    <tr>
                                        <th>Net total</th>
                                        <td> P  @ViewBag.gross1</td>
                                    </tr>


                                </table>
                                <br><br><br>
                            </div>




                            @using (Html.BeginForm("finishcargobooking", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="col-xs-12" style="margin-bottom: 80px;">
                                    <input type="submit" class="btn btn-primary btn-block" value="Confirm Booking">
                                </div>



                            }















                        </div>




                    </div>

                    <div class="col-sm-5 col-md-5" style="color: black;">
                        <div class="tabulation animate-box">

                            <!-- Nav tabs -->
                      

                            <div class="tab-title">
                                <h4>@ViewBag.locationfrom to @ViewBag.locationto</h4>

                            </div>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div>

                                    <span>departure date: @ViewBag.departuretime</span>
                                    <br>
                                    <span>terminal: @ViewBag.terminalfrom</span>
                                    <br>
                                    <span>arrival date: @ViewBag.arrivaltime</span>
                                    <br>
                                    <span>terminal: @ViewBag.terminalto</span>
                                    <br>
                                    <br>



                                </div>





                            </div>


                        </div>



                    </div>



                    <div class="col-sm-5 col-md-5" style="color: black; margin-top : 115px ;">
                        <div class="tabulation animate-box">

                            <!-- Nav tabs -->
                            <div class="tab-title">
                                <h4>Accomodation</h4>

                            </div>

               
                            <!-- Tab panes -->
                            <div class="tab-content">


                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 style="color: black;">@ViewBag.transportname</h3>

                                    </div>


                                    <div class="col-md-6">


                                        <span>regular: P @ViewBag.priceregular </span>
                                        <br>
                                        <span>tourist: P @ViewBag.pricetourist</span>
                                        <br>
                                        <span>business class: P @ViewBag.pricebusiness</span>
                                        <br>
                                        <span>business class: P @ViewBag.pricebusiness2</span>
                                        <br>
                                        <br>

                                    </div>


                                    <div>
                                        @switch (ViewBag.mode1)
                                        {
                                            case "land":
                                                <img src="~/assets2/images/bus.jpg" style=" border-radius: 5px; box-shadow: 20px;" class="col-lg-6 col-sm-12" />
                                                break;
                                            case "sea":
                                                <img src="~/assets2/images/ship1.jpg" style=" border-radius: 5px; box-shadow: 20px;" class="col-lg-6 col-sm-12" />
                                                break;
                                            case "air":
                                                <img src="~/assets2/images/airplane.jpg" style=" border-radius: 5px; box-shadow: 20px;" class="col-lg-6 col-sm-12" />
                                                break;
                                            default: break;



                                        }

                                    </div>


                                </div>






                            </div>






                        </div>



                    </div>






                </div>


            </div>


        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
